.container {
    width: 80%;               // Set the container width to 80% of the screen
    max-width: 1400px;        // Maximum width to prevent it stretching too far on large screens
    margin: 0 auto;           // Center the container horizontally
    padding: 60px 20px;          // Optional: inner padding for some space inside the container

    h1{
      max-width: 850px;
      font-size: 100px;
      font-weight: 600;
      letter-spacing: -0.06em;
      line-height: 0.9em;
      }
  }

  .main-top{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    
    
  }
  .main-content{
    margin-top: 100px;

  }
  .main-bottom{
    //font-family: "Inter Variable", "Inter Placeholder", sans-serif;
    font-weight: 400;
    padding-top: 15px;
    line-height: 30px;
    max-width: 500px;
   color: #999999;
   font-size: 22px;
  }
  
  
  @media (max-width: 768px) {
    .container {
      width: 90%;  // Adjust width for smaller screens to take up more space
    }
  }