// Global Styles
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter Variable', sans-serif;  // Using Inter font
  background-color: #000000; // Background color for the body
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color, #000000); // Apply background color
}



// Main content style
.main-content {
  flex-grow: 1;  // Allow the content area to grow and fill the available space
  padding: 0px 0; // Add vertical padding for spacing around the content
}

@media (max-width: 768px) {
  .container {
    width: 90%;  // Adjust width for smaller screens to take up more space
  }
}
